includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- .docs

	ignoreErrors:
		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			count: 1
			path: src/Psr7ServerRequest.php
		-
			message: '#^Parameter \#1 \$method of class Contributte\\Psr7\\Psr7ServerRequest constructor expects string, mixed given\.$#'
			count: 1
			path: src/Psr7ServerRequest.php
