parameters:
	ignoreErrors:
		# Psr7ServerRequest::normalizeNetteFiles validate if invalid data are not given, so there is mismatch between parameters and code
		- '#^Strict comparison using === between null and null will always evaluate to true\.$#'

		# Nette\Http\FileUpload is created from string values of request -> it is string
		- "#^Casting to int something that's already int\\.$#"

		# Guess who needs better typehint. Yes, psr-7
		- '#Parameter \#1 \$uploadedFiles \(array\<Psr\\Http\\Message\\UploadedFileInterface\>\) of method .+\:\:withUploadedFiles\(\) should be contravariant with parameter \$uploadedFiles \(array\) of method Psr\\Http\\Message\\ServerRequestInterface\:\:withUploadedFiles\(\)#'
